<mat-card>
    <mat-card-title>REGISTER</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registerForm">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="name" required>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Password" type="password" formControlName="password"
                        required>
                </mat-form-field>
            </p>
            <div class="button">
                <button class="button" style="margin-right: 3%;" type="submit" mat-raised-button
                    (click)="registerUser()">REGISTER</button>

                <button class="button" type="submit" mat-raised-button (click)="closeDialog()">CLOSE</button>

            </div>

        </form>
    </mat-card-content>
</mat-card>