<mat-card>
    <mat-card-title>LOGIN</mat-card-title>
    <mat-card-content style="padding-top: 5%;">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Password" formControlName="password" type="password" required>
                </mat-form-field>
            </p>
            <div class="button">
                <button type="submit" style="margin-right: 3%;" mat-raised-button class="btn btn-sm btn-outline-primary m-1">Login</button>
                <button type="submit" mat-raised-button class="btn btn-sm btn-outline-primary m-1"
                    (click)="closeDialog()">CLOSE</button>
            </div>

        </form>
    </mat-card-content>

</mat-card>